@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proximanova";
  src: url("./assets/fonts/proximanova.ttf") format("truetype");
}

@layer base {
  .font-outline-light {
    -webkit-text-stroke: 1.5px white;
  }
}
